services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: flashdeal
      POSTGRES_PASSWORD: flashdeal
      POSTGRES_DB: flashdeal
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  k6:
    image: grafana/k6:latest
    volumes:
      - ./scripts:/scripts
    environment:
      - BASE_URL=${BASE_URL:-http://host.docker.internal:3000}
    extra_hosts:
      - "host.docker.internal:host-gateway"
